<div class="container mx-auto px-4 py-8 text-xl">
  <div class="flex justify-between space-x-4 mb-6">
    <h1 class="text-3xl font-bold">{{house?.title}}</h1>
    <div class="text-sm">
      <button class="text-gray-700 border px-4 py-2 rounded-lg hover:bg-gray-100">Compartilhar</button>
      <button class="text-gray-700 border px-4 py-2 rounded-lg hover:bg-gray-100">Salvar</button>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4">
    <img src="{{house && house.images[4]}}" alt="Imagem Principal do Chalé"
      class="w-full h-full object-cover rounded-lg shadow-lg col-span-1 row-span-2">
    <img src="{{house && house.images[0]}}" alt="Imagem 1" class="w-full h-48 object-cover rounded-lg shadow-md">
    <img src="{{house && house.images[1]}}" alt="Imagem 2" class="w-full h-48 object-cover rounded-lg shadow-md">
    <img src="{{house && house.images[2]}}" alt="Imagem 3" class="w-full h-48 object-cover rounded-lg shadow-md">
    <img src="{{house && house.images[3]}}" alt="Imagem 4" class="w-full h-48 object-cover rounded-lg shadow-md">
  </div>
  <div class="mb-4">
    <p class="text-gray-800 mt-1">{{house?.roomType}} {{house?.subTitle}} </p>
    <p class="text-gray-600">2 hóspedes · 1 quarto · 1 cama · 1 banheiro</p>
  </div>
</div>